* {
  margin: 0;
  padding: 0;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #faf6fa;
  color: #c209c1;
  font-size: 16px;
}
.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 30px;
  border: 1px solid #c209c1;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #f9e8f6;
  box-sizing: border-box;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c209c1;
}
.form-input:focus {
  outline: 1px solid #412741;
}
.button {
  padding: 10px 35px;
  margin: 0 auto;
  border-radius: 15px;
  cursor: pointer;
  background: #c209c1;
  border: 1px solid #c209c1;
  color: #fff;
}
.forgot-password {
  color: #c209c1;
  text-decoration: none;
}
